'.liquid, .html, .jade':
  'foreachlodash':
    'prefix': 'forEach'
    'body': '''
    <% _.forEach(${1:values}, function (${2:value}){  %>
      ${3}
    <% }) %>
    '''

  'console.log(obj)':
    'prefix': 'conlogobj'
    'body': '''
    <% console.log(obj); %>
    '''

  'lodash comment':
    'prefix': 'comlodash'
    'body': '''
    <% /* ${1} */ %>
    '''

  'directive':
    'prefix': 'directive'
    'body': '''
    <% ${1} %>
    '''

  'if directive':
    'prefix': 'ifdir'
    'body': '''
    <% if(${1}){ %>
      ${2}
    <% } %>
    '''

  'if else directive':
    'prefix': 'ifeldir'
    'body': '''
    <% if(${1}){ %>
      ${2}
    <% }else{ %>
      ${3}
    <% } %>
    '''

  'variable':
    'prefix': 'variable'
    'body': '''
    <%= ${1} %>
    '''

